{% extends 'base/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<section class="register">

    <div class="container_form">
        <div class="register_content">
          
                <h1 class="form-title">Register Here</h1>
                <form method="post" action="{% url 'register' %}" class="register_form">
                    {% csrf_token %}
                   <input type="text" placeholder="NAME">
                <div class="beside">
                    <input type="number" placeholder="PHONE NUMBER" name="mobile">
                    <select name="gender">
                        <option hidden>GENDER</option>
                        <option  value="male">MALE</option>
                        <option vlaue="female">FEMALE</option>
                        <option value="non-binary">NON-BINARY</option>
                    </select>
                </div>
                    <input type="email" placeholder="EMAIL ADDRESS" name="email">
                    <input type="password" placeholder="password" name="password"><br>
                    <input type="submit" class='submit_btn'>
                    <a href="{% url 'user_login' %}"> <p>Already have an account ?  </p></a>
                    
                </form>
            </div>
     </div>
    

</section>
   
{% endblock %}
