.background1 {

 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Adjust the height to control the size of the dark overlay */
    background: linear-gradient(to bottom, rgba(1, 0,0.1, 0), rgba(0, 0, 0, 1 )); /* Adjust the alpha value (0.5) to control the darkness of the overlay */
  }
  .slogen{
    position: absolute;
    left:50%; /* Center the element horizontally */
    transform: translateX(-50%) translateY(100%); /* Center the element horizontally */
    bottom: 120px; /* Spacing from the bottom */
    color: #F5F5F5;
    font-size: 10px;
    font-weight: bold;
    letter-spacing:5px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    transition: transform 0.s, opacity 0.5s;
    opacity: 0;

}
.visible {
    transform: translateX(-50%) translateY(0); /* Move the element to its actual position */
    opacity: 1; /* Make the element fully visible */
    transition: transform 0.5s, opacity 0.5s; /* Add transitions for smooth animation */
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three items in one row */
    gap: 0px;
}
@media(max-width:768px) {
    .product-grid{
        display: block;
    }
    .slogen h1{
        font-size:20px;
        text-align: left;

        
    }
    .btn{
        width:50%;
    height:50px;
    }
    
}

.product-card {
    flex: 0 1 calc(33.33% - 10px); /* 33.33% for 3 items in one row with reduced spacing */

    color:#28221E;
    background-image: linear-gradient(70deg,#fff, #f3f4f9);

   /* Reduced padding */
    text-align: center;

    

   
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
    margin: 100px auto;
 
 
}

.product-card img:hover {
  scale: 1.2;
  transition:ease-in-out 0.2s;
  
 
}


  

 
 


.product-name {
    font-size: 0.875rem;
    margin:  10px;
    letter-spacing: .025rem;
    justify-content: flex-start;
}
.product-name a:hover{
    color:rgb(104, 104, 118) ;

}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.discounted-price {
    
    color: black;
    font-size: 0.875rem;
    margin:  10px;
    letter-spacing: .025rem;
    justify-content: flex-start;
    display: flex;
}

.buy-button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Julius sans one';
    transition: background-color 0.2s;
}

.buy-button:hover {
    background-color: black;
    color: white;
}

section h1{
    margin: 50px auto;
    justify-content: center;
    display: flex;
    font-size: 12px;

}

section h2{
    margin:auto;
    justify-content: center;
    display: flex;
    font-size:100px;
    padding-top: 100px;
    
   
}
section h3{
    display: flex;
    justify-content: center;
    font-size: 15px;
 
}
.casual_section{
    min-height: 100vh;
}
/* Add this CSS to your stylesheet or style tag */
/* Add this CSS to your stylesheet or style tag */

.second_image{
    width: 100%;
    height: 100vh;
}