html{
    scroll-behavior: smooth;
}



.btn{
    width:320px ;
    height:50px;
    border:1px solid #f3f4f9;
    justify-content: center;
    background-color: transparent;
    display: flex;
    font-weight:bold;
    border-radius: 30px;
    cursor: pointer;
    align-items: flex-end; 
    height: 90vh;
}

.btn a {
    color :#f3f4f9 ;
    justify-content: center;
  
    
}
.btn:hover{
    background-color:black;
   
}
.slogen{
    position: absolute;
    left: 50%; /* Center the element horizontally */
    transform: translateX(-50%) translateY(100%); /* Center the element horizontally */
    bottom: 200px; /* Spacing from the bottom */
    color: #f3f4f9;
    font-size: 10px ;
    font-weight: bold;
    letter-spacing:7px;
   
    text-align: center;
    transition: transform 0.s, opacity 0.5s;

}

.first-section {

 
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top;
    width: 100%;
    height: 100vh;
    position: relative;

   

  }
  

.background1 {

 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Adjust the height to control the size of the dark overlay */
    background: linear-gradient(to bottom, rgba(1, 0,1, 0), rgba(0, 0, 0, 1 )); /* Adjust the alpha value (0.5) to control the darkness of the overlay */
  }
  
  
  
  .btn-container {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 90vh;
      z-index: 1; 
  }
  
  .btn {
      width: 320px;
      height: 45px;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      font-weight: bold;
      border-radius: 0px;
      cursor: pointer;
      color: white;
      z-index: 1;
  
     
  }
  .btn a {
      margin: auto ;
  }



@media(max-width:768px) {
    .slogen{
        font-size: 11px;
        
    }
    .slogen h1{
        font-size: 20px;
        text-align: left;
        
    }

    .btn{
        width:50%;
    height:50px;
    }
    .background1 {

 
       
        max-width:768px;
        background-repeat:no-repeat;
        background-position: center;
        width: auto;
        max-height: 30vh;
        position: relative;
      }
    
}
.visible {
    transform: translateX(-50%) translateY(0); /* Move the element to its actual position */
    opacity: 1; /* Make the element fully visible */
    transition: transform 0.5s, opacity 0.5s; /* Add transitions for smooth animation */
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Three items in one row */
    gap: 0px;
}
@media(max-width:768px) {
    .product-grid{
        display: block;
    }
    .slogen h1{
        font-size:20px;
        text-align: left;

        
    }
    .btn{
        width:50%;
    height:50px;
    }
    
}

.product-card {
    flex: 0 1 calc(33.33% - 10px); /* 33.33% for 3 items in one row with reduced spacing */
    margin: 1px;
    color:#28221E;
    margin-top: 100px;

   /* Reduced padding */
    text-align: center;
    
    background-image: linear-gradient(70deg,#fff, #f3f4f9);
  
   
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
    margin:100px auto;
    min-width: 100%;
 
 
}

.product-card img:hover {
  scale: 1.2;
  transition:ease-in-out 0.2s;
  
 
}


  

 
 


.product-name {
    font-size: 1rem;
    margin: 20px 0;
}
.product-name a:hover{
    color:rgb(104, 104, 118) ;

}

.original-price {
    text-decoration: line-through;
    color: #888;
}

.discounted-price {
    font-weight: bold;
    color: black;
    font-size: 13px;
    margin: 25px 0;
    position: static;
}

.suggestions h1{
    justify-content:center;
    display:flex;
    margin:auto;
   font-size:37px ;
   margin-top:100px;
}
.product-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    margin: auto;


  
  }
  .product-slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    margin-right: 20px;
     /* Adjust the margin as needed to separate slides */
    height: 300px;
    border:1px solid black;
    width:100%
  }

  .buy_btn > a > button{
    width: 60%;
    height: 45px;
    color:black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Julius sans one';
    background-color: transparent;
    border:1px solid;
    margin:25px;
    cursor: pointer;
    height: 45px;
  }

  .buy_btn > a > button:hover{
    background-color: #0b0b0b;
    color:white;
    border: 1px solid white;
  

  }

  #slider-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }

  #slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider-item {
    width: 100%;
    flex: 0 0 auto;
  }

  img {
    width: 100%;
    height: auto;
  }

  #prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    z-index: 1;
  }

  #prev { left: 10px; }
  #next { right: 10px; }
  