.login{
    min-height: 10vh;


}

.login a{
    color:#3498db !important;
    justify-content: center;
    text-align: center;
    margin:auto;
    display: flex;
    padding: 100px;
}


.register{
    padding-top: 100px ;
}

html, body{
    font-family: 'Julius sans one';
 

}
.container_form{ 
 
   display:flex;
   align-items:center;
   justify-content:center;
   align-items: center;
   margin: auto;

}
.login_content{
    background-color:transparent;
    width:50%;
    height:100vh;
    padding-top:10vh ;
}

.form-title{
    padding:10px 40px 0px;
    font-size: 50px;
}
.login_form{
    padding:0px 40px;
}
.login-email {
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    width:100%;
    margin: 20px 0;
    padding:10px 0;
    background-color:transparent;
}
input[type=password]{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    margin: 20px 0;
    padding:5px 0;
    background-color:transparent;
}
input :hover {
    background-color: red;
}
select{
    border: none;
    border-bottom: 1px solid black;
    outline:none;
    margin: 8px 0;
    padding:5px 0;
    width:50%;
    background-color:transparent;
}
.beside{
    display:flex;  
    justify-content: space-between;
}
.login-button{
    color:#ffffff;
    background-color: black;
    height:40px;
    width:25%;
    margin-top:15px;
    cursor: pointer;
    border:none;
    border-radius:2%;
    outline:none;
    text-align:center;
    font-size:16px;
    text-decoration:none;
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
    font-family: 'Julius sans one';
}
.login-button:hover{
    background-color:#454545;
}

.register_link p {
    color:black;
}