{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Hoodies
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/casual_collection.css' %}">

<section class="casual_section">
    <div class="slogens">
  
      <h2> Hoodie Collection !</h2>
      <h3>Hoodies &bull; {{ product_count }} products</ul></h3>
    </div>
  
  
  <div class="product-grid">
  
    {% for product in products %}
    <div class="product-card">
      <a href="{% url 'get_product' product.slug %}"> <img src="/media/{{product.product_images.first.image}}"alt="Product Image"></a>
     
  
      
      <h3 class="product-name"><a href="{% url 'get_product' product.slug %}">{{product.product_name}}</a></h3>
      <p class="discounted-price">₹ {{product.discounted_price}}</p>
      
      
   
  </div>
    {% endfor %}
  </div>
{% endblock %}